/* Main Container */
#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

/* Wheel Container */
#wheel-container {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
}

/* Info Container */
#info-container {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
}

/* Info boxes */
/* Info boxes */
#info-frame, #second-info-frame {
  margin: 10px 20px;  /* Added horizontal margin for separation */
  padding: 20px;
  width: 300px;
  height: 180px;  /* Decreased height */
  overflow: auto;  /* Add scrollbar if content overflows */
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 14px;  /* Explicitly set font size */
  text-align: center;
}

/* Additional Styling for text in both boxes */
#element-title, #second-element-title {
  margin: 0;
  max-width: 300px;  /* Max width */
  max-height: 180px;  /* Max height, adjusted to match box height */
  overflow: auto;  /* Scroll if content is too large */
  font-size: 12px;  /* Text size for the paragraph */
  box-sizing: border-box;  /* Include padding and border in the box's total dimensions */
}


.arcLabel {
  user-select: none;  /* Disable text selection */
  pointer-events: none;  /* Disable mouse events on text */
  cursor: default;  /* Set cursor to default instead of text selection cursor */
}

#element-title h1, #second-element-title h1 {
  font-size: 18px;
}

#element-title p, #second-element-title p {
  max-height: 150px; /* Max height for the paragraph */
  overflow: auto; /* Scroll if content is too large */
  font-size: 12px; /* Text size for the paragraph */
}

