/* Main Container */
#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #d5d5d5;
}

/* Wheel Container */
#wheel-container {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
}

/* Info Container */
#info-container {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
}

.info-frame {
  margin: 10px 20px;
  padding: 20px;
  width: 300px;
  height: 180px;
  overflow: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 14px;
  text-align: center;
}

.info-title {
  font-size: 18px;
  margin: 0;
}

.info-description {
  max-height: 150px;
  overflow: auto;
  font-size: 12px;
  margin: 0;
}

#compound-info {
  margin: 10px 20px;
  padding: 20px;
  width: 300px;
  height: 180px;
  overflow: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 14px;
  text-align: center;
}


.arcLabel {
  user-select: none;  /* Disable text selection */
  pointer-events: none;  /* Disable mouse events on text */
  cursor: default;  /* Set cursor to default instead of text selection cursor */
}

#element-title h1, #second-element-title h1 {
  font-size: 18px;
}

#element-title p, #second-element-title p {
  max-height: 150px; /* Max height for the paragraph */
  overflow: auto; /* Scroll if content is too large */
  font-size: 12px; /* Text size for the paragraph */
}

